/* ==========================================================================
   Component : tiles
   ========================================================================== */

%title {
	display: block;
	margin: 0;
	font: $font-bold normal;
}