/* ==========================================================================
   Component : Typography - H4 title
   ========================================================================== */

h4, .h4 {
	@extend %title;
	margin: 0 0 $base-step*2 0;
	font-size: 14px; font-weight: bold;
}
