.gumroad-button {
    background-color: white !important;
    background-image: url(https://gumroad.com/button/button_bar.jpg) !important;
    background-repeat: repeat-x !important;
    border-radius: 4px !important;
    box-shadow: rgba(0, 0, 0, .4) 0 0 2px !important;
    color: #999 !important;
    display: inline-block !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    line-height: 50px !important;
    padding: 0 15px !important;
    text-shadow: none !important;
    text-decoration: none !important;
}