/* ==========================================================================
   Component : scrolling nav
   ========================================================================== */

.nav-scroll {
	display: none;

	@media screen and (min-width: $screen-md) {
		display: block;
		position: fixed; top: 0; bottom:0; right: 0; z-index: 1000;
		width: em(75px);
		background-color: transparentize($color-black, 0.55);

		.nav-link {
			position: relative; top: 20%;

			a {
				display: block;
				width: em(12px); height: 12px;
				margin: 0 auto;
				border-radius: 50%;
				background-color: $color-white;

				&.active {
					background-color: $color-black;
					width: em(16px); height: 16px;

					@include transition("all easin 0.5s");
				}
			}
		}
	}

}